/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  height: 100%;
  font-family: arial, sans-serif;
}

header {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #e8e8e8;
}

a {
  font-size: 13px;
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

a:visited {
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-top {
  min-width: max-content;
  padding-bottom: 25px;
}

.search-form, .logo {
  display: inline-block;
}

.account-nav {
  float: right;
  padding: 15px 10px 0 10px;
}

.account-nav a {
  vertical-align: text-top;
}

.logo {
  vertical-align: middle;
  padding: 5px 20px 0 10px;
}

.search-field {
  height: 40px;
  width: 610px;
  border-radius: 25px;
  border: 1px solid #dfe1e5;
  padding-left: 25px;
  font-family: inherit;
  font-size: 16px;
}

.search-field:hover, .search-field:focus {
  box-shadow: 0 1px 3px 1px #e0dbdb;
  outline: none;
}

.apps-link {
  display: inline-block;
  background-image: url("../assets/icon.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-origin: content-box;
  opacity: 0.55;
}

.sign-in-button {
  background: #4285f4;
  opacity: 1;
  margin-left: 15px;
  padding: 7px 12px 7px 12px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
}

.apps-link:hover {
  opacity: 1;
}

.sign-in-button:hover {
  text-decoration: none;
  cursor: default;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.sign-in-button:visited {
  color: #ffffff;
}

.main-nav {
  padding: 0 0 15px 145px;
}

.search-type a:hover, .search-settings a:hover {
  color: #4285f4;
  text-decoration: none;
  opacity: 1;
  fill: #4285f4;
}

.search-type, .search-tools, .search-settings {
  display: inline-block;
  list-style: none;
}

.search-type a, .search-tools a, .search-settings a {
  padding: 0 10px 13px 10px;
}

.more-options {
  padding-right: 150px;
}

.active {
  color: #4285f4;
  opacity: 1;
  border-bottom: 3px solid #4285f4;
}

.active:visited {
  color: #4285f4;
}

.search-icon {
  height: 16px;
  width: 16px;
  vertical-align: bottom;
  padding-right: 5px;
  display: inline-block;
}
