/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  height: 100%;
  font-family: arial, sans-serif;
}

header {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #e8e8e8;
}

main {
  padding-left: 165px;
}

footer {
  height: 80px;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
}

a {
  font-size: 13px;
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

a:visited {
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

/*a:hover {
  text-decoration: underline;
}*/

strong {
  font-weight: bold;
  color: #000;
}

.header-top {
  min-width: max-content;
  padding-bottom: 25px;
}

.search-form, .logo {
  display: inline-block;
}

.account-nav {
  float: right;
  padding: 15px 10px 0 10px;
}

.account-nav a {
  vertical-align: text-top;
}

.logo {
  vertical-align: middle;
  padding: 5px 20px 0 10px;
}

.search-field {
  height: 40px;
  width: 610px;
  border-radius: 25px;
  border: 1px solid #dfe1e5;
  padding-left: 25px;
  font-family: inherit;
  font-size: 16px;
}

.search-field:hover, .search-field:focus {
  box-shadow: 0 1px 3px 1px #e0dbdb;
  outline: none;
}

.apps-link {
  display: inline-block;
  background-image: url("../assets/icon.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-origin: content-box;
  opacity: 0.55;
}

.sign-in-button {
  background: #4285f4;
  opacity: 1;
  margin-left: 15px;
  padding: 7px 12px 7px 12px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
}

.apps-link:hover {
  opacity: 1;
}

.sign-in-button:hover {
  text-decoration: none;
  cursor: default;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.sign-in-button:visited {
  color: #ffffff;
}

.main-nav {
  padding: 0 0 15px 145px;
}

.search-type a:hover, .search-settings a:hover {
  color: #4285f4;
  text-decoration: none;
  opacity: 1;
  fill: #4285f4;
}

.search-tools a:hover {
  text-decoration: none;
  background: #f3f3f3;
  border: 1px solid #c6c6c6;
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin: -1px;
}

.search-type, .search-tools, .search-settings {
  display: inline-block;
  list-style: none;
}

.search-type a, .search-settings a {
  padding: 0 10px 13px 8px;
}

.search-tools a {
  padding: 6px 12px;
}

.more-options {
  padding-right: 55px;
}

.active {
  color: #4285f4;
  opacity: 1;
  border-bottom: 3px solid #4285f4;
}

.active:visited {
  color: #4285f4;
}

.search-icon {
  height: 16px;
  width: 16px;
  vertical-align: bottom;
  padding-right: 5px;
  display: inline-block;
}

.more-icon {
  padding-right: 0;
}

.footer-top, .footer-bottom {
  height: 40px;
  border-top: 1px solid #e8e8e8;
  line-height: 40px;
  padding-left: 165px;
}

.footer-nav-item {
  display: inline-block;
  padding-right: 22px;
}

.footer-country, .location-information {
  display: inline-block;
}

.footer-country {
  padding-right: 12px;
}

.footer-country p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.location-information p {
  font-size: 13px;
  color: #5f6368;
}

.footer-nav a, .location-information a {
  color: #5f6368;
  opacity: 1;
}

.footer-nav a:hover, .location-information a:hover {
  text-decoration: none;
  color: #000;
}

.separator {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  border-left: 1px solid #e4e4e4;
  padding-right: 10px;
}

.circle {
  background: #9e9e9e;
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
}

.results-number {
  padding: 10px 0 10px 8px;
}

.results-number p {
  font-size: 14px;
  color: #777777;
}

.search-results {
  width: 630px;
}

.search-result {
  list-style: none;
  padding: 10px 0 20px 8px;
  max-width: 600px;
}

.search-result a {
  opacity: 1;
}

.search-result a:hover h3 {
  text-decoration: underline;
}

.search-result-title {
  font-size: 20px;
  line-height: 1.3;
  color: #1a0dab;
}

.search-url {
  font-size: 16px;
  line-height: 1.5;
  color: #006621;
}

.advert {
  font-size: 12px;
  margin-right: 9px;
  border: 1px solid;
  border-radius: 3px;
  padding: 1px 3px 0 2px;
}

.search-result-abstract {
  font-size: 14px;
  line-height: 1.57;
  color: #545454;
}

.secondary-results {
  padding: 14px 0 0 20px;
  width: 100%;
}

.secondary-search-result {
  list-style: none;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.related-questions {
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  margin: 10px 0 20px 0;
}

.related-questions-title {
  font-size: 20px;
  line-height: 1.3;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #dfe1e5;
}

.related-question {
  list-style: none;
  font-size: 16px;
  line-height: 1.57;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #dfe1e5;
}

.last-question {
  border-bottom: none;
}

.arrow {
width: 25px;
float: right;
fill: #70757A;
padding-right: 15px
}
